<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bootleggers.overlay4title"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:targetPackage="android" android:priority="1"/>

    <application android:label="zHow 5kb can bother somebody?" android:hasCode="false" android:icon="@mipmap/ic_launcher"/>
</manifest>
